Flask
numpy
pandas
torch
tqdm
transformers
scikit-learn
eli5
scipy
matplotlib
xarray
tensorflow
keras
pyfaidx
pyBigWig
jupyterlab
umap-learnlogomaker
pysam
plotnine
snakemake
HTSeq
pyGenomeTracks
mpl-scatter-density